p {
  color: blue;
}

.login-hr {
  border: 1px dashed black;
}

h1 {
  color: blue;
}
main h4 {
  color: orange;
}

.main-title {
  position: sticky;
  top: 0;
  height: 50px;
  text-align: center;
  background-color: black;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-delay: 0;
}
.main-title:hover,
.main-title:active,
.main-title:focus {
  color: #fff;
  background-color: #2a1f62;
}

header {
  position: fixed;
  top: 45px;
  right: 0;
  padding: 5px;
  background-color: #2a1f62;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 3px solid #2a1f62;
  width: 250px;
  align-items: center;
}

.order h3 {
  align-items: center;
}

.order-button {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: 'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.order-button:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .order-button {
    padding: 24px;
  }
}

.padding-margin-test-box {
  box-sizing: border-box;
  width: 150px;
  padding: 30px;
  margin: 20px;
  border: 5px dashed #2a1f62;
}

.frog-link {
  color: blue;
  background-color: bisque;
}
.frog-link:hover {
  color: rgb(47, 255, 0);
  background-color: bisque;
  cursor: wait;
}
.frog-link:active {
  color: rgb(255, 21, 0);
  background-color: bisque;
  cursor: zoom-in;
}

main ul,
footer ul {
  list-style-type: none;
}

.taken {
  text-shadow: 20px 0px #2a1f62;
}

.box-test {
  width: 200px;
  height: 200px;
  text-align: center;
  border-top: 3px solid blue;
  border-right: 5px dotted black;
  border-bottom: 7px dashed palevioletred;
  border-left: 9px double green;
}
.box-test::before,
.box-test::after {
  text-align: end;
  content: 'bu yazı kopyalanamaz';
}

.scroll-test {
  width: 30em;
  height: 20em;
  background-color: beige;
  border: 5px dashed red;
  overflow: auto;
  font-family: 'Times New Roman', Times, serif;
}

.scroll-test:hover,
.scroll-test:active,
.scroll-test:focus {
  background-color: antiquewhite;
}

.all-boxes {
  display: flex;
  gap: 20px;
  padding: 1em;
  border: 5px dotted blueviolet;
  border-left: none;
  border-right: none;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(16, 0, 235, 0.4),
      rgba(136, 0, 136, 0.4)
    ),
    url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_1280.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.outer-box {
  width: 200px;
  height: 200px;
  background-color: teal;
  border: double 5px black;
}

.inner-box {
  width: 100px;
  height: 100px;
  margin: auto;
  border: double 5px black;
  background-color: palevioletred;
}

.hrs {
  width: 100px;
  padding: 20px;
  border: 5px dotted green;
  opacity: 50%;
}

.hrs .hr1 {
  border-top: 10px solid red;
}
.hrs .hr2 {
  border-top: 10px solid green;
}
.hrs .hr3 {
  border-top: 10px solid blue;
}

.img-card {
  width: 250px;
  background-color: olive;
  text-align: center;
  justify-content: center;
  padding: 0;
  text-transform: uppercase;
}

.img-card img {
  display: block;
  max-width: 100%;
}

.social-accounts {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
